<style>

.cbi-value .cbi-value-field {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: .5rem;
}


.cbi-value .cbi-value-field input[type="password"],
.cbi-value .cbi-value-field input[type="text"] {
  width: auto;
  max-width: 100%;
}


.cbi-section .cbi-section-table .cbi-section-table-cell .cbi-input-append {
  display: inline-flex;
  margin-left: .5rem;
  white-space: nowrap;
}
.cbi-section .cbi-section-table .cbi-section-table-cell input[type="password"] {
  width: auto;
}


.cbi-value .cbi-value-field input,
.cbi-value .cbi-value-field select {
  min-width: 16rem;
}
</style>
